version: '3'
services:
  monitor:
    build: .
    expose:
      - "5000"
    volumes:
      - ./data:/app/data
      - ./Templates:/app/Templates
      - ./static:/app/static
    environment:
      - PUID=1000
      - PGID=1000
    user: "1000:1000"
    restart: unless-stopped
    cap_add:
      - NET_RAW
      - NET_ADMIN
  
  nginx:
    image: nginx:alpine
    ports:
      - "8082:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - monitor
    restart: unless-stopped
